<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uleulue">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uleulue">
        <activity android:name=".registerrwardenpage"></activity>
        <activity android:name=".wardenhomepage" />
        <activity android:name=".loginwardenpade" />
        <activity android:name=".registerStudentPage" />
        <activity android:name=".HomepageStudents" />
        <activity android:name=".loginstudent" />
    </application>

</manifest>