<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uleulue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uleulue">
        <activity android:name=".bacchokipuranikatha"></activity>
        <activity android:name=".forgotpassword" />
        <activity android:name=".viewacceptedrequest" />
        <activity android:name=".wardenrequestpreviewpage" />
        <activity android:name=".studentsdhundoviawarden" />
        <activity android:name=".wardendhundoViaStudents" />
        <activity android:name=".listitem" />
        <activity android:name=".matapitaprofileView" />
        <activity android:name=".studentreg" />
        <activity android:name=".GatekeeperHome" />
        <activity android:name=".regselectionpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wardenregisterpage" />
        <activity android:name=".matashreepitashreeRegister" />
        <activity android:name=".ParentsLogin" />
        <activity android:name=".GatekeeperRegister" />
        <activity android:name=".login" />
        <activity android:name=".wardenlogin" />
        <activity android:name=".GatekeeperLogin" />
        <activity android:name=".ParentsHome" />
        <activity android:name=".matapitadhundo" />
        <activity android:name=".showParents" />
        <activity android:name=".HomeWarden" />
        <activity android:name=".HomeStudents" />
        <activity android:name=".studentsDhundo" />
        <activity android:name=".studentrequestPreviewPage" />
        <activity android:name=".setrealtime" />
    </application>

</manifest>